/node_modules
/npm-debug.log
yarn-error.log

# Laravel
/vendor
/.env
.env.backup
.env.production
Homestead.yaml
Homestead.json
.vagrant
.phpunit.result.cache

# Storage
storage/*.key
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/pail
storage/logs/*

# Public
public/storage
public/hot
public/build

# App-specific exclusions
public/downloads/lms-android.apk
public/images/site-bg.svg
.npmrc
config/view.php
auth.json
.phpactor.json

# استثناء مجلد الـ course-files بالكامل
storage/app/private/course-files/

# استثناء مجلد الـ receipts بالكامل
storage/app/private/receipts/

# Shared hosting (changed public path)
public_html/storage
public_html/hot

# IDE
.idea
.vscode
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
